body{
    font-family: 'Arimo', sans-serif;
    letter-spacing: 0.3px;
}
.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
}
.topheader {
    line-height: 60px;
}
.topheader ul li{
	font-size: 12px;
	margin-left: 10px;
}
.topheader .container {
    padding-left: 0px;
}
.topheader{
  text-align:right;
  padding-left: 0px;
}
.topRightHeader .btn{
  font-size: 12px;
}
.topRightHeader{
  padding-right: 0px;
}
.currency{
	border: none;
	outline: none;
}
button:focus { outline:0 !important; }
nav{
	  font-size: 11px;
    text-transform: uppercase;
    font-weight:700;
}
nav ul li{
	font-size: 11px;
}
.navbar-collapse{
  padding-left: 0px;
}
.navbar-default{
  background: none;
}
.navbar{
  border-radius: 0px;
}
.navbar-nav>li>a{
	line-height: 34px;
	padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-nav>li>a{
	padding-left: 0px;
	padding-right: 20px;
}
.navbar-form{
	margin-top: 10px;
}
.navbar-right {
    margin-right: -25px;
}
.btn{
    border-radius: 1px;
}
.search-box{
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    padding: 0px 15px;
}
.search-box.form-control, .search-box input{
  border-radius: 0px;
  border:none;
  outline: none;
  background: none;
  box-shadow: none;
}
.button-search{
  background: none;
  border: none;
  font-size: 15px;
  color: #777;
}
span{
	color:#666;
	font-size: 11px;
}
.product-img img{
	width: 100%;
}
.product-details li{
	font-size: 10px;
	font-weight: 700;
}
.product-details h6,h4{
    text-transform: uppercase;
    font-weight:700;
}
.product-details .row{
	margin-left: 0px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
}
.options, .button-option{
	margin-left: -15px;
    margin-bottom: 30px;
}
.button-option button{
	width:100%;
  text-transform: uppercase;
  font-weight:700;
}
.button-option .btn{
  padding: 15px 10px;
}
.options select{
	width: 100%;
}

.options h5{
    text-transform: uppercase;
    font-weight:700;
}

.options .form-control{
  border-radius: 1px;
}
.spinner {
  width: 60px;
}
.spinner input {
  text-align: center;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}
.show-mobile{
  display: none;
}
.hide-mobile{
  display: block;
}
.social, .footer-nav, .footer-bottom{
  text-align: right;
}
.footer, .social, .footer-menu, .footer-bottom, .footer-copy, .footer-pay, .footer-nav, .footer-containter{
  padding-left: 0px;
  padding-right: 0px;
}
/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 0px 5px 0px 0px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #969696; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #000;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #000;  } 


.controls .fa-angle-left, .controls .fa-angle-right {
    font-size: 25px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}

.p-img-1{
    height:20px;
    width: 75px;
}
.p-img-2{
    height:20px;
    width: 70px;
}
.p-img-3{
    height:20px;
    width: 60px;
}
.p-img-4{
    height:20px;
    width: 50px;
}
.p-img-5{
    height:20px;
    width: 35px;
}
.footer-bottom a {
    text-decoration: none;
    color: #fff;
}
footer{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
}


/*index1.html*/
.desc span, .product-details p{
    font-size: 11px;
    font-weight: 100;
    color: #666;
}
.desc{
    font-size: 14px;
    color: #000;
    font-weight: 600;
    margin-bottom:20px; 
}
.product-details h6{
    font-size: 14px;
    color: #000;
    font-weight: 600;
}
.product-details a, .product-details a:hover{
  font-size: 14px;
  color: #000;
  text-decoration: none;
}
/* Responsive css*/


@media only screen and (max-width: 768px){
  body{
    font-family: 'Arimo', sans-serif;
    letter-spacing: 0.2px;
    font-size: 11px;
  }
  .topheader{
  text-align:center;
  }
  .show-mobile{
   display: block;
   margin-top: 10px;
  }
  .hide-mobile{
    display: none;
  }
  .similar-products{
    margin-right: 0px;
    margin-left: 0px;
  }
  .button-option button{
    font-size: 12px;
  }
  .topheader ul li{
    margin-left: 0px;
  }
  .footer{
    text-align: center;
  }
  .footer, .social, .footer-menu, .footer-bottom, .footer-copy, .footer-pay, .footer-nav{
  text-align: center;
  }
}